<h1><%= @flat["name"] %></h1>
<h2>Price: <%= @flat['price'] %> <%= @flat['priceCurrency'] %></h2>
<%= image_tag @flat['imageUrl'], alt: @flat["name"] %>
<br>
<div class="btn-container">
  <%= link_to 'Go Back', root_path, class: 'btn btn-primary' %>
</div>
